@import url("sub/main.css");
@import url("sub/cards.css");
@import url("sub/animation.css");
@import url("sub/gallery.css");
@import url("sub/footer.css");
@import url("sub/hero.css");
@import url("sub/table.css");
@import url("sub/login.css");
@import url("sub/nav.css");
@import url("../../vendors/fontawesome-free-5.15.2-web/css/all.min.css");