.card {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    background-color: #867ff1;
    text-decoration: none;
    text-align: center;
}

.card h1 {
    font-size: calc(1vw + .75rem);
}
.card img {
    height: calc(1vw * 8);
    width: calc(1vw * 8);
}

.card:hover {
    background-color: #5b54bf;
    transform: scale(0.98, 0.98);
}