.card {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    background-color: #867ff1;
    text-decoration: none;
    text-align: center;

    max-width: 610px;
    max-height: 266px;
}

.card .title {
    position: relative;
    font-size: calc(1vw + 1.25rem);
    top: 10%;
}

.card p {
    position: relative;
    width: 90%;
    top: 5%;
    font-size: calc(1vw + .1rem);
}

.card:hover {
    background-color: #5b54bf;
    transform: scale(0.98, 0.98);
}

@media only screen and (max-width: 550px) {
    .card .title {
        position: relative;
        font-size: calc(1vw + .75rem);
        top: 2%;
    }

    .card p {
        top: 1%;
        font-size: calc(1vw + .55rem);
        width: 100%;
    }
}