footer {
    background-color: #929396;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
}

footer p {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(1vw + .25rem);
}

@media only screen and (max-width: 550px) {
    footer p {
        font-size: calc(1vw + .65rem);
    }
}