.image-gallery .title {
    font-size: calc(2vw + 2rem);
    text-align: center;
    font-weight: 100;
    letter-spacing: 5px;
    background: #444444;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.image-gallery p {
    margin: 0 auto 2rem;
    text-align: center;
    font-size: calc(1vw + .5rem);
    color: #444;
    font-weight: 100;
    width: 90%;
}

.image-gallery {
    width: 90%;
    margin: 50px auto;
    max-width: 1100px;
}

.gal-item {
    position: relative;
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto 2rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.4s ease;
    background-position: center;
}

@media screen and (min-width: 37.5em) {
    .gal-item {
        height: 300px;
    }
}

@media screen and (min-width: 45em) {
    .gal-item {
        display: inline-block;
        width: 45%;
        margin-left: 25px;
    }
}

.gal-item__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.gal-item__overlay:after {
    content: "";
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all 0.3s ease;
}

.gal-item__title {
    position: relative;
    top: -200px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: calc(1vw + 1.5rem);
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.gal-item__desc {
    position: relative;
    display: block;
    width: 95%;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    /*border: 2px solid white;*/
    border-radius: 3px;
    font-size: calc(1vw + .15rem);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.gal-item:hover .gal-item__title {
    top: 0;
}

.gal-item:hover .gal-item__desc {
    top: 0;
}

.gal-item:hover .gal-item__overlay:after {
    opacity: 0.75;
}


@media only screen and (max-width: 550px) {
    .gal-item__desc {
        font-size: calc(1vw + .75rem);
    }
}