:root {
    --main-radius: 10px;
    --main-padding: 5px;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    height: 115.25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.50fr 2fr 1.0fr 1.0fr 0.8fr;
    grid-template-areas:
    "nav nav nav"
    "hero hero hero"
    "content1 content2 content3"
    "content4 content5 content6"
    "footer footer footer";
    grid-gap: 0.5rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background: #1de9b6;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.hero {
    background: #84ffff;
    grid-area: hero;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#opening_times {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#food_locations {
    background: #6fffd2;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#special_events {
    background: #6fffd2;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#map {
    background: #6fffd2;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#client_area {
    background: #6fffd2;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#assistance {
    background: #6fffd2;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 10% 10% 10% 10% 10% 10% 8.75%;
        grid-template-areas:
      "nav"
      "hero"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "footer";
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}