.container {
    height: 100vh;
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    grid-template-areas:
    "nav nav"
    "login special"
    "signup special"
    "footer footer";
    grid-gap: 0.5rem;
    font-size: 12px;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: inherit;
}

#nav {
    grid-area: nav;
}

#sign_up {
    grid-area: signup;
}

#login {
    grid-area: login;
}

#special-offer {
    grid-area: special;

}

#filler {
    grid-area: filler;
}

#home {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 3.75rem;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
      "nav"
      "login"
      "signup"
      "special"
      "footer";
    }

    #home {
        position: relative;
        left: 2%;
    }
}