.container {
    height: 115vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
    "nav"
    "food_locations"
    "footer";
    grid-gap: 0.5rem;
    font-size: 12px;
    text-align: center;
}

#nav {
    grid-area: nav;
}

#food_locations {
    grid-area: food_locations;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 1fr 0.1fr;
        grid-template-areas:
      "nav"
      "food_locations"
      "footer";
    }

    #home {
        position: relative;
        left: 2%;
    }
}