* {
    padding-left: calc(1vw + 1px);
    padding-right: calc(1vw + 1px);
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  0.5fr 0.75fr 0.48fr 0.48fr 0.15fr;
    grid-template-areas:
    "nav nav nav"
    "hero hero hero"
    "content1 content2 content3"
    "content4 content5 content6"
    "footer footer footer";
    color: white;
    text-align: center;

    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.buttons {
    grid-area: buttons;
}

nav {
    grid-area: nav;
}

#opening_times {
    grid-area: content1;
    border-radius: 17px 0 0 0;
    padding-top: var(--main-padding);
}

#food_locations {
    grid-area: content2;
    padding-top: var(--main-padding);
}

#special_events {
    grid-area: content3;
    border-radius: 0 17px 0 0;
    padding-top: var(--main-padding);
}

#map {
    grid-area: content4;
    border-radius: 0 0 0 17px;
    padding-top: var(--main-padding);
}

#client_area {
    grid-area: content5;
    padding-top: var(--main-padding);
}

#assistance {
    grid-area: content6;
    border-radius: 0 0 17px 0;
    padding-top: var(--main-padding);
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 4.375% 20% 10% 10% 10% 10% 10% 10% 4.375%;
        grid-template-areas:
      "nav"
      "hero"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "footer";
    }

    #opening_times, #food_locations, #special_events, #map, #client_area, #assistance {
        border-radius: 15px;
    }
}