.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr 0.1fr;
    grid-template-areas:
    "nav"
    "opening_times"
    "footer";
    grid-gap: 0.5rem;
    font-size: 12px;
    text-align: center;
}

#nav {
    grid-area: nav;
}

#opening_times {
    grid-area: opening_times;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 1fr 0.1fr;
        grid-template-areas:
      "nav"
      "opening_times"
      "footer";
    }

    #home {
        position: relative;
        left: 2%;
    }
}