.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
    "nav"
    "special_events"
    "footer";
    grid-gap: 0.5rem;
    font-size: 12px;
    text-align: center;
}

#nav {
    grid-area: nav;
}

#special_events {
    grid-area: special_events;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 1fr 0.1fr;
        grid-template-areas:
      "nav"
      "special_events"
      "footer";
    }

    #home {
        position: relative;
        left: 2%;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}